#container{
    border: 2px solid black;
    width:400px;
    height:400px;
    margin:auto;
    line-height:0;
}

.square{
    width:25px;
    height:25px;
    border:none;
    display: inline-block;
}